# Temp & Archives
*.zip
*.rar
extracted/

# Gradle & Android Build Artifacts
.gradle/
build/
android/.gradle/
android/build/
android/app/build/
android/local.properties
.idea/
*.iml
*.log
node_modules/
test-results/
/vendor/
android/app/src/main/assets/www/vendor/
*.jks
*.keystore
.env*

# OS generated
.DS_Store
Thumbs.db
